@using RestaurantSystem.Models.DatabaseModels;
@using RestaurantSystem.Models;
@model RestaurantSystem.Models.View.Order.OrdersViewModel;

@{
    ViewData["Title"] = "Orders";
}

<head>
    <link rel='stylesheet' type='text/css' media='screen' href='~/assets/index.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='~/assets/dishes/dish.css'>

    @await Html.PartialAsync("_Imports")

    <script src='~/assets/orders/orders.js'></script>
    <script src='~/assets/dishes/dish.js'></script>
</head>

<body>
    @await Html.PartialAsync("_NavBar", Model.User)

    <h1>Orders</h1>

    @if (TempData["OrderedSuccess"] != null)
    {
        <h3>Ordered successful</h3>
    }

    <div id="orders">
        @foreach (OrderWithDishesCountModel orderWithDish in Model.Orders)
        {

            <div class="order_view">
                <p class="status" id="orderstatus,@orderWithDish.Order.Id">CurrentStatus: @orderWithDish.Order.CurrentStatus</p>

                <div class="notes_view">
                    <p class="notes_title">Notes: </p>
                    <p class="notes">@orderWithDish.Order.Notes</p>
                </div>

                <div class="dish_list">
                    @foreach (DishWithStatusModel dishWithStatus in orderWithDish.DishesCount.Keys)
                    {
                        <p id="dishstatus,@orderWithDish.Order.Id,@dishWithStatus.Dish.Id">
                            Current Status: @dishWithStatus.OrderedDish.CurrentStatus</p>

                        @if (dishWithStatus.Dish.Image != null)
                        {
                            <img src="@dishWithStatus.Dish.Image" class="food_image"/>
                        }

                        <p class="list_dish"> x @orderWithDish.DishesCount[dishWithStatus] 
                            @dishWithStatus.Dish.Name : @dishWithStatus.Dish.AvrageTimeToCook</p>
                    }
                </div>

                <p class="part">TotalPrice: @orderWithDish.Order.TotalPrice lv.</p>

                <p class="part">Restorant Address: @string.Join(", ", 
                orderWithDish.Order.Restaurant.Address, orderWithDish.Order.Restaurant.City,
                orderWithDish.Order.Restaurant.State, orderWithDish.Order.Restaurant.Country)
                </p>

                <p class="part">Ordered At: @orderWithDish.Order.OrderedAt.ToString()</p>
                <p id="error,@orderWithDish.Order.Id"></p>

                <button id="cancel,@orderWithDish.Order.Id"></button>

            </div>

            <script>
                registeredOrders.push(Number(@orderWithDish.Order.Id))
                setCancelButton('@orderWithDish.Order.Id', '@orderWithDish.Order.CurrentStatus')
            </script>
        }
    </div>

    @if (Model.Orders.Count > 0)
    {
        <script>
            startWebSocket()
        </script>
    }
</body>

