@using RestaurantSystem.Models.DatabaseModels
@model RestaurantSystem.Models.View.Staff.Delivery.DeliveryRestaurantViewModel;
@{
    ViewData["Title"] = "Delivery Restaurants";
}

<head>
    @await Html.PartialAsync("_Header")
    <script src="~/assets/index.js"></script>
    <script src="~/assets/staff/delivery/delivery.js"></script>
</head>

<body>
    @await Html.PartialAsync("_StaffNavBar", Model.Staff)
    @await Html.PartialAsync("_RestaurantBar", Model.Staff.Restaurant)
    <h3>Delivery Restaurants</h3>
    @if (Model.Restaurants.Count == 0)
    {
        <p class="alert aler-warning m-2">No Restaurants. Please contact your Manager.</p>
        <a class="btn btn-success m-2" href="/addresses">Make Address</a>
    }

    <a class="btn btn-primary m-2" href="/staff/delivery/address">Go to Addresses</a>

    <div class="m-2 container">
        @foreach (RestaurantModel restaurant in Model.Restaurants)
        {
            <div style="cursor: pointer;" class="card m-3" onclick="selectRestaurant('@restaurant.Id')">
                <div class="card-body">
                    <h4 class="card-title">
                        @string.Join(", ", restaurant.Address,
                        restaurant.City, restaurant.State, restaurant.Country)
                    </h4>
                    @if (restaurant.ServeCustomersInPlace)
                    {
                        <p class="card-text">Restaurant serves customers on-side</p>
                    }
                    else
                    {
                        <p class="card-text">Restaurant doesn't serve customers on-side</p>
                    }

                    <p class="card-text">Reservations:</p>
                    <p class="card-text">Max Adults: @restaurant.ReservationMaxAdults</p>
                    <p class="card-text">Min Adults: @restaurant.ReservationMinAdults</p>
                    <p class="card-text">Max Children: @restaurant.ReservationMaxChildren</p>
                    <p class="card-text">Min Children: @restaurant.ReservationMinChildren</p>
                </div>
            </div>
        }
    </div>

    @await Html.PartialAsync("_Footer")
</body>