@using RestaurantSystem.Models.DatabaseModels;
@model RestaurantSystem.Models.View.Dish.DishesTypeViewModel;
@{
    ViewData["Title"] = Model.DishType.Substring(0, 1).ToUpper() + Model.DishType.Substring(1);
}

<head>
    @await Html.PartialAsync("_Header")
    <script src='~/assets/dishes/dish.js'></script>
</head>

<body>
    @await Html.PartialAsync("_NavBar", Model.User)
    @await Html.PartialAsync("_RestaurantBar", Model.Restaurant)

    <p id="dish_stats"></p>

    @foreach (DishModel dishModel in Model.Dishes)
    {
        
       string clickAction = dishModel.IsAvailable ? "goToDish('" + dishModel.Id + "')" : "";
        
    

        <div class="card m-5" style="cursor: pointer;">
            <div class="card-body" onclick="@clickAction">
                @if (dishModel.Image != null)
                {
                    <img class="img-thumbnail rounded" src="@dishModel.Image">
                }
                <h4 class="card-title">@dishModel.Name</h4>
                <p class="card-text">Grams: /@dishModel.Grams/</p>
                <p class="card-text">@dishModel.Price lv.</p>
                
            </div>

            <div>
                @if (dishModel.IsAvailable)
                {
                    <button type="button" id="order" style="opacity: 100%;"
                            onclick="addDishToCart('@dishModel.Id', '@dishModel.Name', false)">
                        Add to order
                    </button>
                }
                else
                {
                    <button type="button" id="order" style="opacity: 50%;">Not available</button>
                }
            </div>
        </div>
    }


    @await Html.PartialAsync("_Footer")
</body>
