@model RestaurantSystem.Models.View.Dish.DishViewModel;

@{
    ViewData["Title"] = "Dish";
    Model.Dish.Image ??= "";
}


<head>
    @await Html.PartialAsync("_Header")
    <script src='~/assets/dishes/dish.js'></script>
</head>


<body>

    @await Html.PartialAsync("_NavBar", Model.User)
    @await Html.PartialAsync("_RestaurantBar", Model.Restaurant)

    <div class="m-2 container">
        <img src="@Model.Dish.Image" class="img-thumbnail rounded" alt="No image for now">

        <h4>@Model.Dish.Name</h4>

        <p>Grams: /@Model.Dish.Grams/</p>

        <p>Ingredients: @Model.Dish.Ingredients</p>

        <p>Avrage Time To Cook: @Model.Dish.AvrageTimeToCook</p>

        <p>@Model.Dish.Price lv.</p>

        <button type="button" class="btn btn-success m-2" onclick="addDishToCart('@Model.Dish.Id', '@Model.Dish.Name', false)">Add to order</button>

    </div>

    @await Html.PartialAsync("_Footer")
    <script src="~/assets/index.js"></script>
</body>