@using RestaurantSystem.Models.DatabaseModels;
@model RestaurantSystem.Models.View.Dish.DishesTypeViewModel;

@{
    Layout = "_Layout";
    ViewData["Title"] = Model.DishType;
}

<head>
    <link rel='stylesheet' type='text/css' media='screen' href='~/dishes/dish.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='~/index.css'>


    @RenderBody()
</head>

<body>


    <partial name="NavBar" model="Model.User" />
    <partial name="RestaurantBar" model="Model.Restaurant" />

    <p id="dish_stats"></p>


    <div id="dishes">
        <!--{{DishDisplay}}  -->
        @foreach (DishModel dishModel in Model.Dishes)
        {
            dishModel.Image ??= "";

            <div id="whole_food">

                        @if (dishModel.IsAvailable)
                        {
                            <div class="food" style="opacity: 100%;" onclick="goToDish('@dishModel.Id')">

                        } else {
                                 <div class="food" style="opacity: 50%;">
                        }


                            <p class="food_name">@dishModel.Name</p>
                            <p class="food_grams">grams: /@dishModel.Grams/</p>

                            <img class="food_image" src="@dishModel.Image">

                            <p class="food_price">@dishModel.Price lv.</p>
                        </div>

                        <div>
                            @if (dishModel.IsAvailable)
                            {
                                <button id="order" style="opacity: 100%;"
                                        onclick="addDishToCart('@dishModel.Id', '@dishModel.Name')">
                                    Add to order
                                </button>
                            }
                            else
                            {
                                <button id="order" style="opacity: 50%;">Not available</button>
                            }
                        </div>
            </div>
        }

    </div>

   <script src='~/dishes/dish.js'></script>

</body>
