@using RestaurantSystem.Models.DatabaseModels;
@model List<RestaurantSystem.Models.DatabaseModels.RestaurantModel>

@{
    ViewData["Title"] = "Restaurants";
}

<head>
    @await Html.PartialAsync("_Header")
    <script src="~/assets/restaurant/restaurant.js"></script>
</head>

<div>

    @{
        foreach (RestaurantModel restaurant in Model)
        {
            string delivery = restaurant.DoDelivery ? "Yes" : "No";
            string serve = restaurant.ServeCustomersInPlace ? "Yes" : "No";

            <button type="button" class="restaurant" onclick="choose('@restaurant.Id')">
                
                <p>@string.Join(", ", restaurant.Address,
                         restaurant.City, restaurant.State, restaurant.Country)</p>

                <br />

                <p>Does Delivery: @delivery</p>
                <br />

                <p>Serves People at Place: @serve</p>
                <br />

                <p>Postal Code: @restaurant.PostalCode</p>
                <br />

                <p>Reservations:</p>
                <br />

                <p>Max Adults: @restaurant.ReservationMaxAdults</p>
                <br />

                <p>Min Adults: @restaurant.ReservationMinAdults</p>
                <br />

                <p>Max Children: @restaurant.ReservationMaxChildren</p>
                <br />

                <p>Min Children: @restaurant.ReservationMinChildren</p>
                <br />

            </button>
        }
    }


    @await Html.PartialAsync("_Footer")
</div>