@using RestaurantSystem.Models.DatabaseModels;
@model List<RestaurantModel>
@{
    ViewData["Title"] = "Restaurants";
}

<head>
    @await Html.PartialAsync("_Header")
    <script src="~/assets/restaurant/restaurant.js"></script>
</head>

<body>

    @if (TempData.Peek("Message") != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["Message"]
        </div>
    }

    @{
        foreach (RestaurantModel restaurant in Model)
        {
            <div style="cursor: pointer;" class="card m-3" onclick="choose('@restaurant.Id')">

                <div class="card-body">
                    <h4 class="card-title">
                        @string.Join(", ", restaurant.Address,
                        restaurant.City, restaurant.State, restaurant.Country)
            </h4>
            @if (restaurant.DoDelivery)
                    {
                        <p class="card-text">Restaurant does deliveries</p>
                    }
                    else
                    {
                        <p class="card-text">Restaurant doesn't do deliveries</p>
                    }

                    @if (restaurant.ServeCustomersInPlace)
                    {
                        <p class="card-text">Restaurant serves customers on-side</p>
                    }
                    else
                    {
                        <p class="card-text">Restaurant doesn't serve customers on-side</p>
                    }

                    <p class="card-text">Reservations:</p>
                    <p class="card-text">Max Adults: @restaurant.ReservationMaxAdults</p>
                    <p class="card-text">Min Adults: @restaurant.ReservationMinAdults</p>
                    <p class="card-text">Max Children: @restaurant.ReservationMaxChildren</p>
                    <p class="card-text">Min Children: @restaurant.ReservationMinChildren</p>
                </div>
            </div>
        }
    }


    @await Html.PartialAsync("_Footer")
</body>
