@using RestaurantSystem.Enums
@using RestaurantSystem.Models.DatabaseModels
@using RestaurantSystem.Models.View.Messages
@model RestaurantSystem.Models.View.Staff.Manager.ManagerDishViewModel;
@{
    ViewData["Title"] = "Manage Dishes - Savans Restaurant";
}


<head>
    @await Html.PartialAsync("_Header")
    <script src="~/assets/staff/manager/manager_dishes.js"></script>
</head>


<body>
    @await Html.PartialAsync("_StaffNavBar", Model.Staff)
    @await Html.PartialAsync("_RestaurantBar", Model.Staff.Restaurant)
    @await Html.PartialAsync("_ManagerNavBar")
    <h3 class="justify-content-center d-flex" style="margin-top:  2em;">Manage Dishes</h3>
    @await Html.PartialAsync("_Paging", Model.Page)


    <div class="mx-3">
        @await Html.PartialAsync("_SuccessMessage", new MessageViewModel
        {
            Key = "CreatedSuccessfully",
            Message = "Successfully Created Dish!"
        })

        @await Html.PartialAsync("_SuccessMessage", new MessageViewModel
        {
            Key = "UpdatedSuccessfully",
            Message = "Successfully Updated Dish!"
        })

        @await Html.PartialAsync("_SuccessMessage", new MessageViewModel
        {
            Key = "DeletedSuccessfully",
            Message = "Successfully Deleted Dish!"
        })
    </div>

    <div class="w-100 d-flex justify-content-center"><button class="btn d-flex btn-success m-2 d-flex" onclick="toggleCreateDish()" type="button">Create Dish</button></div>

    <div id="create_dish" class=" form-group m-2" style="width:100vw;display:none;">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="d-flex flex-column justify-content-center mb-3 align-items-center p-2" style="border-radius:10px;width:40vw;border:inset orange 1px; align-self:center;">
        <div class="form-floating" style="width: 100%">
                <input id="dish_name" type="text" class="form-control" placeholder="dish_name" required>
                <label for="dish_name">Dish Name</label>
        </div>
        <select id="dish_type" class="input-group border rounded shadow-sm  mb-2 form-control" required>
            <option value="@DishTypeEnum.salads.ToString()">@DishTypeEnum.salads.ToString()</option>
            <option value="@DishTypeEnum.soups.ToString()">@DishTypeEnum.soups.ToString()</option>
            <option value="@DishTypeEnum.appetizers.ToString()">@DishTypeEnum.drinks.ToString()</option>
            <option value="@DishTypeEnum.dishes.ToString()">@DishTypeEnum.dishes.ToString()</option>
            <option value="@DishTypeEnum.desserts.ToString()">@DishTypeEnum.desserts.ToString()</option>
            <option value="@DishTypeEnum.drinks.ToString()">@DishTypeEnum.drinks.ToString()</option>
        </select>
        

        <input id="dish_price" type="number"
               class="input-group border rounded shadow-sm  mb-2 form-control"
               min="0.1" max="9999999999"
               placeholder="Dish Price lv." required>

        <input id="dish_ingredients" type="text"
               class="input-group border rounded shadow-sm  mb-2 form-control"
               placeholder="Dish Ingredients" required>

        <input id="dish_attc" type="text"
               class="input-group border rounded shadow-sm  mb-2 form-control"
               placeholder="Dish Average Time To Cook: 1 - 2 minutes." required>

        <input id="dish_grams" type="number"
               class="input-group border rounded shadow-sm  mb-2 form-control"
               min="1" max="999999"
               placeholder="Dish Grams" required>
        </div>

        <div class="d-flex flex-column justify-content-center align-items-start">
        <div class="d-flex">
        <label for="dish_isavailable">Is Dish Currently Available</label> &nbsp;&nbsp;&nbsp;
        <input id="dish_isavailable" type="checkbox"
               class="input-group form-control " style="width: fit-content;" required>
        </div>
               

        <div class="mb-3">
            <label for="Image" class="form-label">Dish Image</label>
            <button type="button" class="btn btn-danger rounded m-2" onclick="removeImage(null)">Remove Image</button>
            <input type="file" class="form-control" id="dish_image" accept="image/*">
            <img id="preview" src="#" alt="Dish Image Preview" width="150" class="mt-2 rounded img-thumbnail" />
        </div>
        </div>
        <button type="button" class="btn btn-success m-2" onclick="createDish()">Submit</button>
        </div>
    </div>
    <div class="table-responsive d-flex justify-content-center">
        <table id="ddish" class="table dedish table-bordered text-center">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Ingredients</th>
                    <th>Grams</th>
                    <th>Type</th>
                    <th>Average Time To Cook</th>
                    <th>Is Available</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>

                @foreach (DishModel dish in Model.Dishes)
                {
                    <tr class="page-row">
                        <td>@dish.Id</td>
                        <td style="display: flex; justify-content: center; align-items: center;flex-direction: column;height: 100%;">
                            @if (!string.IsNullOrEmpty(dish.Image))
                            {
                                    <img src="@dish.Image" alt="Dish Image" width="80px" height="80px" class="mt-2 rounded img-thumbnail smi" />

                            } else {
                                    <div class="bg-warning bg-opacity-25 rounded d-flex align-items-center justify-content-center border border-warning" style="width: 80px; height: 80px;">
                                        <i class="bi bi-image text-warning fs-3"></i>
                                    </div>
                            }
                            <div id="image,@dish.Id" style="display:none;">
                                <input type="file" accept="image/*" id="inputimage,@dish.Id">
                                <button type="button" class="btn btn-danger rounded m-2" onclick="removeImage('@dish.Id')">Remove Image</button>
                                <img id="preview,@dish.Id" class="mt-2 rounded smi img-thumbnail" />
                                <div class="d-flex justify-content-center"><label for="deleteimage,@dish.Id">Delete Image?</label>
                                <input type="checkbox" id="deleteimage,@dish.Id"></div>
                                <script>
                                    registerPreview('@dish.Id')
                                </script>
                            </div>
                        </td>
                        <td>
                            <p>@dish.Name</p>
                            <input id="name,@dish.Id"
                                   type="text"
                                   style="display:none;"
                                   class="input-group form-control border border-warning rounded"
                                   placeholder="Dish Name" value="@dish.Name"
                                   required>
                        </td>
                        <td>
                            <p>@dish.Price lv.</p>
                            <input id="price,@dish.Id"
                                   type="number"
                                   style="display:none;"
                                   min="0.1" max="9999999999"
                                   class="input-group form-control  border border-warning rounded"
                                   placeholder="Dish Price lv." value="@dish.Price"
                                   required>
                        </td>
                        <td>
                            <p>@dish.Ingredients</p>
                            <input id="ingredients,@dish.Id"
                                   type="text"
                                   style="display:none;"
                                   class="input-group form-control border border-warning rounded"
                                   placeholder="Dish Ingredients" value="@dish.Ingredients"
                                   required>
                        </td>
                        <td>
                            <p>@dish.Grams</p>
                            <input id="grams,@dish.Id" type="number"
                                   class="input-group form-control border border-warning rounded"
                                   min="1" max="999999"
                                   style="display:none;"
                                   placeholder="Dish Grams" value="@dish.Grams" required>
                        </td>
                        <td>
                            <p>@dish.Type_Of_Dish.ToString()</p>
                            <select id="type,@dish.Id"
                                    style="display:none;"
                                    class="input-group form-control border border-warning rounded" required>
                                @if (dish.Type_Of_Dish.Equals(DishTypeEnum.salads))
                                {
                                    <option value="@DishTypeEnum.salads.ToString()" 
                                        selected>@DishTypeEnum.salads.ToString()</option>
                                } else
                                {
                                    <option value="@DishTypeEnum.salads.ToString()"
                                            >@DishTypeEnum.salads.ToString()</option>
                                }

                                @if (dish.Type_Of_Dish.Equals(DishTypeEnum.soups))
                                {
                                    <option value="@DishTypeEnum.soups.ToString()"
                                            selected>@DishTypeEnum.soups.ToString()</option>
                                }
                                else
                                {
                                    <option value="@DishTypeEnum.soups.ToString()"
                                        >@DishTypeEnum.soups.ToString()</option>
                                }

                                @if (dish.Type_Of_Dish.Equals(DishTypeEnum.appetizers))
                                {
                                    <option value="@DishTypeEnum.appetizers.ToString()"
                                            selected>@DishTypeEnum.appetizers.ToString()</option>
                                }
                                else
                                {
                                    <option value="@DishTypeEnum.appetizers.ToString()"
                                        >@DishTypeEnum.appetizers.ToString()</option>
                                }

                                @if (dish.Type_Of_Dish.Equals(DishTypeEnum.dishes))
                                {
                                    <option value="@DishTypeEnum.dishes.ToString()"
                                            selected>@DishTypeEnum.dishes.ToString()</option>
                                }
                                else
                                {
                                    <option value="@DishTypeEnum.dishes.ToString()"
                                        >@DishTypeEnum.dishes.ToString()</option>
                                }

                                @if (dish.Type_Of_Dish.Equals(DishTypeEnum.desserts))
                                {
                                    <option value="@DishTypeEnum.desserts.ToString()"
                                            selected>@DishTypeEnum.desserts.ToString()</option>
                                }
                                else
                                {
                                    <option value="@DishTypeEnum.desserts.ToString()">@DishTypeEnum.desserts.ToString()</option>
                                }

                                @if (dish.Type_Of_Dish.Equals(DishTypeEnum.drinks))
                                {
                                    <option value="@DishTypeEnum.drinks.ToString()"
                                    selected>@DishTypeEnum.drinks.ToString()</option>
                                }
                                else
                                {
                                    <option value="@DishTypeEnum.drinks.ToString()">@DishTypeEnum.drinks.ToString()</option>
                                }
                            </select>
                        </td>
                        <td>
                            <p>@dish.AverageTimeToCook</p>
                            <input id="attc,@dish.Id" type="text"
                                   class="input-group form-control"
                                   style="display:none;"
                                   placeholder="Dish Average Time To Cook: 1 - 2 minutes."
                                   value="@dish.AverageTimeToCook"
                                   required>
                        </td>
                        <td>
                            @if (dish.IsAvailable)
                            {
                                <i class="bi bi-check-lg"></i>
                                <input id="isavailable,@dish.Id" type="checkbox"
                                       style="display:none;"
                                       class="input-group form-control"
                                       checked required>
                            }
                            else
                            {
                                <i class="bi bi-ban"></i>
                                <input id="isavailable,@dish.Id" type="checkbox"
                                       class="input-group form-control"
                                       style="display:none;"
                                       required>
                            }
                        </td>
                        <td>
                            <div>
                                <button id="submit,@dish.Id" type="button"
                                        class="btn btn-primary m-2"
                                        onclick="editDish('@dish.Id')"
                                        style="display:none;">
                                    Submit Edited Dish
                                </button>
                                <button type="button"
                                        class="btn btn-primary m-2"
                                        onclick="toggleEditDish('@dish.Id')">
                                    Edit
                                </button>
                                <button type="button"
                                        class="btn btn-danger m-2"
                                        onclick="deleteDish('@dish.Id')">
                                    Delete Dish
                                </button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <script>
        document.getElementById("dish_image").onchange = (e) => {
            readURL(e.target, 'preview');
        };
    </script>

    @await Html.PartialAsync("_Footer")
</body>
