@using RestaurantSystem.Models.DatabaseModels;
@model RestaurantSystem.Models.View.User.CartViewModel;

@{
    ViewData["Title"] = "Cart";
}


<head>
    @await Html.PartialAsync("_Header")
    <script src='~/assets/dishes/dish.js'></script>
    <script src='~/assets/cart/cart.js'></script>
</head>


<body>
    @await Html.PartialAsync("_NavBar", Model.User)
    @await Html.PartialAsync("_RestaurantBar", Model.Restaurant)

    <h1>Your Cart</h1>

    <div class="m-3 container">
        @await Html.PartialAsync("_CartDishes", Model.Dishes)
    </div>

    <p id="dish_stats"></p>

    <div class="input-group">
        <p>Notes for the order</p>
        <textarea id="notes" cols="40" rows="6" maxlength="255" placeholder="Notes"></textarea>
    </div>

    <div class="input-group">
        <p>Cupon Code</p>
        <input id="cupon_input" maxlength="25" placeholder="Cupon Code">
    </div>

    <div class="input-group">
        <p>Chose delivery address:</p>
        <select id="address">
            @foreach (var address in Model.Addresses)
            {
                <option value="@address.Id">
                         <p>Country: @address.Country</p>
                            <p>State / Province / Region:@address.State</p>
                            <p>City: @address.City</p>
                            <p>Address: @address.Address</p>
                            <p>Postal/Zip Code: @address.PostalCode</p>
                            <p>Phone Number: @address.PhoneNumber</p>
                            <p>Notes: @address.Notes</p>
                            
                </option>
            }
        </select>
    </div>

    <p id="error"></p>

    <button type="button" class="btn btn-success m-2" onclick="startOrder()">Order</button>

    @await Html.PartialAsync("_Footer")
    <script src="~/assets/index.js"></script>
</body>