@using RestaurantSystem.Models.DatabaseModels;
@model RestaurantSystem.Models.View.User.CartViewModel;

@{
    ViewData["Title"] = "Cart";
}


<head>
    @await Html.PartialAsync("_Header")
    <script src='~/assets/dishes/dish.js'></script>
    <script src='~/assets/cart/cart.js'></script>
</head>


<body>
    @await Html.PartialAsync("_NavBar", Model.User)
    @await Html.PartialAsync("_RestaurantBar", Model.Restaurant)

    <h1>Your Cart</h1>

    <div class="m-3 container">
        @{
            decimal sum = 0;

            foreach (DishModel dish in Model.Dishes.Keys)
            {
                int count = Model.Dishes[dish];
                sum += dish.Price * count;

                <div class="card">
                    <div class="card-body">
                        @if (dish.Image != null)
                        {
                            <img class="img-thumbnail rounded" src="@dish.Image">
                        }
                        <h4 class="card-title">@dish.Name</h4>
                        <p class="card-text">Grams: /@dish.Grams/</p>
                        <p class="card-text">Ingredients: @dish.Ingredients</p>
                        <p class="card-text">Avrage Time To Cook: @dish.AvrageTimeToCook</p>
                        <p class="card-text">@dish.Price lv.</p>
                        <div class="quantity">
                            <p class="card-text">Quantity: @count</p>

                            <button type="button" class="btn btn-danger m-2" onclick="removeDishFromCart('@dish.Id', '@dish.Name', true)">Remove</button>
                            <button type="button" class="btn btn-success m-2" onclick="addDishToCart('@dish.Id', '@dish.Name', true)">Add</button>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="food" onclick="goToDish('@dish.Id')">
                        <p class="food_name">@dish.Name</p>
                        <p class="food_grams">grams: /@dish.Grams/</p>

                        @if (dish.Image != null)
                        {
                            <img class="food_image" src="@dish.Image">
                        }
                        <p class="food_price">@dish.Price lv.</p>
                    </div>

                    <div class="quantity">
                        <label>Quantity: @count</label>

                        <button type="button" class="remove_dish" onclick="removeDishFromCart('@dish.Id', '@dish.Name', true)">Remove</button>
                        <button type="button" class="add_dish" onclick="addDishToCart('@dish.Id', '@dish.Name', true)">Add</button>
                    </div>
                </div>
            }
        }
    </div>

    <p id="dish_stats"></p>

    <div class="input-group">
        <p>Notes for the order</p>
        <textarea id="notes" cols="40" rows="6" maxlength="255" placeholder="Notes"></textarea>
    </div>

    <div class="input-group">
        <p>Cupon Code</p>
        <input id="cupon_input" maxlength="25" placeholder="Cupon Code">
    </div>

    <p>Total Price (not counting discounted price): @sum</p>

    <div class="input-group">
        <p>Chose delivery address:</p>
        <select id="address">
            @foreach (var address in Model.Addresses)
            {
                <option value="@address.Id">
                    <div class="card">
                        <div class="card-body">
                            <strong>Country:</strong> @address.Country<br />
                            <strong>State / Province / Region:</strong> @address.State<br />
                            <strong>City:</strong> @address.City<br />
                            <strong>Address:</strong> @address.Address<br />
                            <strong>Postal/Zip Code:</strong> @address.PostalCode<br />
                            <strong>Phone Number:</strong> @address.PhoneNumber<br />
                            <strong>Notes:</strong> @address.Notes<br />
                        </div>
                    </div>
                </option>
            }
        </select>
    </div>

    <p id="error"></p>

    <div class="start_order noselect">
        <button onclick="startOrder()">Order</button>
    </div>

    @await Html.PartialAsync("_Footer")
</body>