@using RestaurantSystem.Models.DatabaseModels;
@model RestaurantSystem.Models.View.User.CartViewModel;

@{
    ViewData["Title"] = "Cart";
}


<head>
    <link rel='stylesheet' type='text/css' media='screen' href='~/assets/index.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='~/assets/dishes/dish.css'>
    @await Html.PartialAsync("_Imports")
    <script src='~/assets/dishes/dish.js'></script>
    <script src='~/assets/cart/cart.js'></script>
</head>


<body>
    @await Html.PartialAsync("_NavBar", Model.User)
    @await Html.PartialAsync("_RestaurantBar", Model.Restaurant)

    <h1>Your Cart</h1>

    <div id="dishes">
        @{
            decimal sum = 0;

            foreach (DishModel dish in Model.Dishes.Keys)
            {
                dish.Image ??= "";

                int count = Model.Dishes[dish];
                sum += dish.Price * count;

                <div id="whole_food">
                    <div class="food" onclick="goToDish('@dish.Id')">
                        <p class="food_name">@dish.Name</p>
                        <p class="food_grams">grams: /@dish.Grams/</p>

                        @if (dish.Image.Length > 0)
                        {
                            <img class="food_image" src="@dish.Image">
                        }
                        <p class="food_price">@dish.Price lv.</p>
                    </div>

                    <div class="quantity">
                        <label>Quantity: @count</label>

                        <button class="remove_dish" onclick="removeDishFromCart('@dish.Id', '@dish.Name', true)">Remove</button>
                        <button class="add_dish" onclick="addDishToCart('@dish.Id', '@dish.Name', true)">Add</button>
                    </div>
                </div>
            }
        }
    </div>

    <p id="dish_stats"></p>

    <div class="input_center">
        <p>Notes for the order</p>
        <textarea id="notes" cols="40" rows="6" maxlength="255" placeholder="Notes"></textarea>
    </div>

    <div class="input_center">
        <p>Cupon Code</p>
        <input id="cupon_input" maxlength="25" placeholder="Cupon Code">
    </div>

    <p>Total Price (not counting discounted price): @sum</p>

    @if (ViewData["Error"] != null)
    {
        <p>Error: @ViewData["Error"]</p>
    }

    <div class="start_order noselect">
        <button onclick="startOrder()">Order</button>
    </div>
</body>