@using RestaurantSystem.Models.DatabaseModels;
@model RestaurantSystem.Models.View.User.CartViewModel;

@{
    ViewData["Title"] = "Cart";
}


<head>
    <link rel='stylesheet' type='text/css' media='screen' href='~/assets/index.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='~/assets/dishes/dish.css'>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>

    <script src="~/assets/index.js"></script>
    <script src='~/assets/dishes/dish.js'></script>
    <script src='~/assets/cart/cart.js'></script>
</head>


<body>
    @await Html.PartialAsync("_NavBar", Model.User)
    @await Html.PartialAsync("_RestaurantBar", Model.Restaurant)

    <h1>Your Cart</h1>

    <div id="dishes">
        @{
            foreach (DishModel dish in Model.Dishes)
            {
                dish.Image ??= "";

                <div id="whole_food">
                    <div class="food" onclick="goToDish('@dish.Id')">
                        <p class="food_name">@dish.Name</p>
                        <p class="food_grams">grams: /@dish.Grams/</p>
                        <img class="food_image" src="@dish.Image">
                        <p class="food_price">@dish.Price lv.</p>
                    </div>

                    <div class="quantity">
                        <label id="q_@dish.Id"></label>

                        <button class="remove_dish" onclick="removeDishFromCart('@dish.Id', '@dish.Name')">Remove Dish</button>
                        <button class="add_dish" onclick="addDishToCart('@dish.Id', '@dish.Name')">+</button>
                    </div>
                </div>

                <script>
                    calculateQuantity('@dish.Id');
                </script>
            }
        }
    </div>

    <p id="dish_stats"></p>

    <div class="input_center">
        <p>Notes for the order</p>
        <textarea id="notes" cols="40" rows="6" maxlength="255" placeholder="Notes"></textarea>
    </div>

    <div class="input_center">
        <p>Cupon Code</p>
        <input id="cupon_input" maxlength="25" placeholder="Cupon Code">
    </div>
    

    <div class="start_order noselect">
        <button onclick="startOrder()">Order</button>
    </div>
</body>