@using RestaurantSystem.Models.DatabaseModels;
@model RestaurantSystem.Models.View.Address.AddressesViewModel;
@{
    ViewData["Title"] = "Addresses";
}


<head>
    @await Html.PartialAsync("_Header")

</head>


<body>
    @await Html.PartialAsync("_NavBar", Model.User)
    <h3>Addresss</h3>
    @if (TempData.Peek("Success") != null)
    {
        <p>@TempData["Success"]</p>
        TempData.Remove("Success");
    }

    <a href="/address/add" class="btn btn-primary m-2">Add Address</a>

    <div class="m-3 row container">

        @foreach (AddressModel address in Model.Addresses)
        {
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Address Information</h5>
                        <p class="card-text">
                            <strong>Country:</strong> @address.Country<br />
                            <strong>State / Province / Region:</strong> @address.State<br />
                            <strong>City:</strong> @address.City<br />
                            <strong>Address:</strong> @address.Address<br />
                            <strong>Postal/Zip Code:</strong> @address.PostalCode<br />
                            <strong>Phone Number:</strong> @address.PhoneNumber<br />
                            <strong>Notes:</strong> @address.Notes<br />
                        </p>
                        <p class="card-text">
                            <a href="/address/update/@address.Id" class="btn btn-warn m-2">Edit</a>
                            <button onclick="deleteAddress('@address.Id')" type="button" class="btn btn-danager m-2">Delete</button>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>

    @await Html.PartialAsync("_Footer")
    <script src="~/assets/index.js"></script>
    <script src="~/assets/address/address.js"></script>
</body>