@using RestaurantSystem.Enums
@using RestaurantSystem.Models.View.Staff.Waitress
@model RestaurantSystem.Models.View.Staff.Waitress.OrderChoseDishViewModel;
@{
        ViewData["Title"] = "Order Dishes";
}

<head>
    @await Html.PartialAsync("_Header")
    <script src="~/assets/index.js"></script>
    <script src="~/assets/dishes/dish.js"></script>
</head>

<body>
    @await Html.PartialAsync("_StaffNavBar", Model.Staff)

    @await Html.PartialAsync("_RestaurantBar", Model.Staff.Restaurant)

    <button onclick="toggleDish('@DishTypeEnum.salads.ToString()')" type="button" class="btn btn-success m-2">Salads</button>
    <button onclick="toggleDish('@DishTypeEnum.soups.ToString()')" type="button" class="btn btn-success m-2">Soups</button>
    <button onclick="toggleDish('@DishTypeEnum.appetizers.ToString()')" type="button" class="btn btn-success m-2">Appetizers</button>
    <button onclick="toggleDish('@DishTypeEnum.dishes.ToString()')" type="button" class="btn btn-success m-2">Dishes</button>
    <button onclick="toggleDish('@DishTypeEnum.desserts.ToString()')" type="button" class="btn btn-success m-2">Desserts</button>
    <button onclick="toggleDish('@DishTypeEnum.drinks.ToString()')" type="button" class="btn btn-success m-2">Drinks</button>


    @await Html.PartialAsync("_WairessOrderDish", new OrderDishViewModel {
    Dishes = Model.Salads,
        InfoMessage = "No salads in your restaurant",
        })

    @await Html.PartialAsync("_WairessOrderDish", new OrderDishViewModel {
        Dishes = Model.Soups,
        InfoMessage = "No soups in your restaurant",
        })


    @await Html.PartialAsync("_WairessOrderDish", new OrderDishViewModel {
        Dishes = Model.Appetizers,
        InfoMessage = "No appetizers in your restaurant",
        })


    @await Html.PartialAsync("_WairessOrderDish", new OrderDishViewModel {
        Dishes = Model.Dishes,
        InfoMessage = "No dishes in your restaurant",
        })

    @await Html.PartialAsync("_WairessOrderDish", new OrderDishViewModel {
        Dishes = Model.Desserts,
        InfoMessage = "No desserts in your restaurant",
        })

    @await Html.PartialAsync("_WairessOrderDish", new OrderDishViewModel {
        Dishes = Model.Drinks,
        InfoMessage = "No drinks in your restaurant",
        })

    <a class="btn btn-success m-2" href="/staff/orders/create">Go to Order Details</a>

    @await Html.PartialAsync("_Footer")
</body>